@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: rgb(236, 223, 204);
    background-size: cover;
    background-position: center;
    font-family: "Poppins";
    margin-top: 8vh;
    position: relative;
}

body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0.7;
    z-index: -1;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(24, 28, 20);
    height: 8vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

.home {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.nav-list {
    list-style: none;
    display: flex;
    margin-left: 32px;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.container {
    background-color: rgb(60, 61, 55);
    display: flex;
    flex-direction: column;
    width: 80vh;
    max-height: 80vh;
    justify-content: flex-start;
    overflow: auto;
}

.opcao {
    display: flex;
    align-items: center;
    gap: 10px;
}

#titulo {
    background-color: rgb(42, 43, 38);
    color: white;
    padding: 10px;
    margin: 0;
    width: 100%;
    border: none;
    outline: none;
    box-sizing: border-box;
}

#informacoes {
    padding: 20px;
}

#input_numero {
    color: black;
    padding: 10px;
    width: 80%;
    text-align: left;
    border-radius: 20px;
}

#base-conversao {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    padding: 10px;
    width: 80%;
    text-align: left;
}

#button-conversao {
    border-radius: 10px;
    font-size: 20px;
    width: 100%;
    background-color: rgb(189, 194, 186);
}

#button-conversao:hover {
    background-color: rgb(142, 146, 140);
}

#resultado_octal, #resultado_decimal, #resultado_binario {
    display: none;
}

#checkbox-octal:checked ~ #resultado_octal, #checkbox-dec:checked ~ #resultado_decimal, #checkbox-bin:checked ~ #resultado_binario {
    display: block;
}