@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 1auto;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image : url("https://media1.tenor.com/m/7pIpaveASyIAAAAd/dws.gif");
    background-size: cover;
    background-position: center;
    font-family: "Poppins";
    margin-top: 8vh;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(24, 28, 20);
    height: 8vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

.home {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.nav-list {
    list-style: none;
    display: flex;
    margin-left: 32px;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.container {
    background-color: rgb(60, 61, 55);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    width: 80vh;
    max-height: 80vh;
    margin-top: 5vh;
}

.opcao {
    display: flex;
    align-items: center;
    gap: 10px;
}

.input_numeros {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.input-valores {
    color: black;
    padding: 10px;
    width: 80%;
    text-align: left;
    border-radius: 20px;
}

.titulo {
    background-color: rgb(42, 43, 38);
    color: white;
    padding: 10px;
    margin: 0;
    width: 100%;
    border: none;
    outline: none;
    box-sizing: border-box;
}

.informacoes {
    padding: 20px;
    color: white;
}

.base-conversao {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    padding: 10px;
    width: 80%;
    text-align: left;
}

#button-conversao {
    border-radius: 10px;
    font-size: 20px;
    width: 100%;
    background: linear-gradient(135deg, #ff7e5f, #feb47b);
}

#button-conversao:hover {
    opacity: 0.7;
}

#button-ssmd {
    border-radius: 10px;
    margin-top: 15px;
    font-size: 20px;
    width: 100%;
    background: linear-gradient(135deg, #ff7e5f, #feb47b);
}

#button-soma:hover {
    opacity: 0.7;
}

#resultado_decimal, #resultado_hexadecimal, #resultado_binario {
    display: none;
}

#checkbox-dec:checked ~ #resultado_decimal, #checkbox-hexa:checked ~ #resultado_hexadecimal, #checkbox-bin:checked ~ #resultado_binario {
    display: block;
}